
@font-face {
    font-family: StarJedi;
    src: url('./fonts/Starjedi.ttf') format('truetype');
}

@font-face {
    font-family: 'Orbitron';
    src: url('./fonts/orbitron-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



body {
    background-color: #000000;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

h1{
    font-family: 'StarJedi';
    color: gold;
    font-size: 80px;
    letter-spacing: 8px;
    text-align: center;
    animation: glow 2s infinite alternate;

    
}

h2{
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: -10px;
    margin-bottom: 40px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px gold;
    }
    to {
        text-shadow: 0 0 20px gold;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
/* section titles */
.section-title{
    color: gold;
    margin-top: 60px;
    font-size: 30px;
    letter-spacing: 3px;
}

section{
    margin-top: 60px;
}


/* horizontal scroll container */
.category-scroll{
    display: flex;
    overflow-x: auto;
    gap: 40px;   
    padding: 25px 5px;
    scroll-behavior: smooth;
}

/* hide scrollbar */
.category-scroll::-webkit-scrollbar{
    display: none;
}

/* category cards */
.category-card{
    min-width: 300px;   
    height: 260px;      
    background: #111;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.category-card img{
    width: 100%;
    height: 170px;
    object-fit: contain;
    margin-bottom: 10px;
}


/* hover effect */
.category-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 20px gold;
    border: 1px solid gold;
}

.category-card p{
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    color: gold;
    letter-spacing: 2px;
    text-shadow: 0 0 6px rgba(255,215,0,0.5);
    transition: 0.3s;
}

.category-card:hover p{
    text-shadow:
        0 0 10px gold,
        0 0 20px gold;
}


/* ---------- RESPONSIVE DESIGN ---------- */

/* tablet */
@media (max-width: 900px){

    h1{
        font-size: 50px;
    }

    .section-title{
        font-size: 22px;
    }

    .category-card{
        min-width: 150px;
        padding: 15px;
    }

    .category-card img{
        height: 120px;
    }
}


/* mobile */
@media (max-width: 600px){

    h1{
        font-size: 34px;
        letter-spacing: 3px;
    }

    .section-title{
        font-size: 18px;
    }

    .category-scroll{
        gap: 15px;
        padding: 10px;
    }

    .category-card{
        min-width: 130px;
        padding: 12px;
    }

    .category-card img{
        height: 100px;
    }
}

/* product scroll row */
.product-scroll{
    display: flex;
    overflow-x: auto;
    gap: 35px;
    padding: 20px;
    scroll-behavior: smooth;
    padding: 20px 5px;

}

.product-scroll::-webkit-scrollbar{
    display: none;
    
}

/* product card */
.product-card{
    min-width: 260px;
    background: #111;
    border-radius: 14px;
    padding: 18px;
    text-align: center;
    transition: 0.35s;
    border: 1px solid #222;
}

.product-card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

/* hover glow */
.product-card:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 25px gold;
    border: 1px solid gold;
}

.product-card h3{
    margin-top: 10px;
}

.price{
    color: gold;
    margin: 5px 0 10px;
}

/* button */
.buy-btn{
    background: transparent;
    border: 1px solid gold;
    color: gold;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.buy-btn:hover{
    background: gold;
    color: black;
    box-shadow: 0 0 15px gold;
}

/* REVIEW SECTION */
.review-section{
    margin-top: 80px;
    padding: 40px 0;
}


.review-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}



.review-card{
    flex: 1;
    background: #111;
    border: 1px solid #222;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    transition: 0.3s;
}



.review-card p{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.review-card span{
    color: gold;
    font-size: 13px;
}

.review-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 20px gold;
    border: 1px solid gold;
}

/* MAIN CENTER CONTAINER */
.main-container{
    max-width: 1500px;   
    margin: auto;
    padding: 0 40px;     
}

.section-title{
    color: gold;
    margin: 40px 0 10px;
    font-size: 26px;
    letter-spacing: 3px;
    text-align: left;
}



@media (max-width: 900px){
    .review-container{
        flex-direction: column;
    }

    .review-card{
        width: 100%;
    }
}
